@-webkit-keyframes landing_anim {
  0% {
    margin-top: 0;
  }
  33% {
    margin-top: -50px;
  }
  66% {
    margin-top: 0;
  }
  100% {
    margin-top: 40px;
  }
}

@keyframes landing_anim {
  0% {
    margin-top: 0;
  }
  33% {
    margin-top: -50px;
  }
  66% {
    margin-top: 0;
  }
  100% {
    margin-top: 40px;
  }
}

@-webkit-keyframes up-down {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    bottom: 50px;
  }
  40%,
  60% {
    bottom: 35px;
  }
}

@keyframes up-down {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    bottom: 50px;
  }
  40%,
  60% {
    bottom: 35px;
  }
}

/*! Special Head Animation*/
@-webkit-keyframes specialHead-left {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes specialHead-left {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@-webkit-keyframes specialHead-right {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes specialHead-right {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

/*! Articles Arrow Read More*/
@-webkit-keyframes arrow-art {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes arrow-art {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@-webkit-keyframes Flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

@keyframes Flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

@-webkit-keyframes DateFlashing {
  50% {
    background-color: #fff;
  }
  100% {
    background-color: var(--mainColor);
    color: #fff;
  }
}

@keyframes DateFlashing {
  50% {
    background-color: #fff;
  }
  100% {
    background-color: var(--mainColor);
    color: #fff;
  }
}

@-webkit-keyframes ProgressFlashing {
  0% {
    background-color: var(--mainColor);
  }
  100% {
    background-color: #03a8f4b0;
  }
}

@keyframes ProgressFlashing {
  0% {
    background-color: var(--mainColor);
  }
  100% {
    background-color: #03a8f4b0;
  }
}

/*! Start Header */
.header-links {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);
  background-color: #fff;
  z-index: 5;
}

.header-links .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-links .container h1 {
  color: var(--mainColor);
  letter-spacing: 3px;
}

.header-links .container > ul > li {
  display: inline-block;
  color: var(--secColor);
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.header-links .container > ul > li::after, .header-links .container > ul > li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  background-color: var(--mainColor);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
  height: 5px;
}

.header-links .container > ul > li::before {
  background-color: #fafafa;
  height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-links .container > ul > li:hover::after, .header-links .container > ul > li:hover::before {
  width: 100%;
}

.header-links .container > ul > li:hover {
  color: var(--mainColor);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.header-links .container .megaMenu {
  position: absolute;
  top: calc(100% + 100px);
  background-color: #fff;
  border-bottom: 3px solid var(--mainColor);
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding: 30px;
  z-index: 100;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-links .container .megaMenu .img img {
  max-width: 100%;
}

.header-links .container .megaMenu ul li {
  min-width: 240px;
  padding: 15px 20px 15px 0;
  border-bottom: 1px solid #04223d25;
  color: var(--mainColor);
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

.header-links .container .megaMenu ul li i {
  margin-right: 15px;
}

.header-links .container .megaMenu ul li::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  height: 100%;
  width: 0px;
  background-color: #fafafa;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

.header-links .container .megaMenu ul li:hover::after {
  width: calc(100% + 5px);
}

.header-links .container .megaMenu li:not(:last-child) {
  margin-bottom: 3px;
}

@media (max-width: 991px) {
  .header-links .container .megaMenu {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .header-links .container .megaMenu .img {
    display: none;
  }
}

@media (max-width: 650px) {
  .header-links .container .megaMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 768px) {
  .header-links .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-links .container h1 {
    margin-bottom: 10px;
  }
  .header-links .container > ul li {
    font-size: 17px;
    padding: 15px 10px;
  }
}

@media (max-width: 420px) {
  .header-links .container > ul li {
    font-size: 12px;
    padding: 10px 5px;
  }
  .header-links .container .megaMenu ul li {
    padding: 10px;
    min-width: 100%;
    font-size: 15px;
  }
}

/*! End Header */
/*! Start Landing */
.landing {
  position: relative;
}

.landing .container {
  padding-top: 30px;
  min-height: calc(100vh - 75px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing .container .img img {
  max-width: 550px;
  -webkit-animation: landing_anim 7s linear infinite alternate;
          animation: landing_anim 7s linear infinite alternate;
}

.landing .container .textLand {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 100px;
}

.landing .container .textLand h2 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 900;
  color: var(--secColor);
  letter-spacing: 1.9px;
}

.landing .container .textLand p {
  color: var(--fontColor);
  font-size: 20px;
  line-height: 1.8;
  max-width: 500px;
  margin-left: 10px;
}

.landing .container i {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: var(--mainColor);
  -webkit-animation: up-down 1s infinite alternate;
          animation: up-down 1s infinite alternate;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 55;
}

.landing .container i:hover {
  color: var(--secColor);
}

@media (max-width: 1198px) and (min-width: 992px) {
  .landing .container .textLand h2 {
    font-size: 25px;
  }
}

@media (max-width: 991px) {
  .landing .container {
    text-align: center;
    padding: 0;
  }
  .landing .container .img {
    display: none;
  }
  .landing .container .textLand {
    margin-top: 150px;
  }
  .landing .container .textLand h2 {
    font-size: 40px;
  }
  .landing .container .textLand p {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 586px) {
  .landing .container .textLand h2 {
    font-size: 30px;
  }
  .landing .container .textLand p {
    font-size: 17px;
  }
}

@media (max-width: 420px) {
  .landing .container .textLand h2 {
    font-size: 22px;
  }
  .landing .container .textLand p {
    font-size: 14px;
    max-width: 250px;
  }
}

.landing::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #eee;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

@media (max-width: 991px) {
  .landing::after {
    -webkit-transform: skewY(-10deg);
            transform: skewY(-10deg);
  }
}

@media (max-width: 767px) {
  .landing .container {
    min-height: calc(100vh - 122px);
  }
  .landing::after {
    -webkit-transform: skewY(-15deg);
            transform: skewY(-15deg);
  }
}

/*! End Landing */
/*! Start Articles */
#articles {
  padding: 60px 0;
}

#articles .container {
  margin: 100px auto;
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

#articles .container section {
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.308);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.308);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#articles .container section img {
  max-width: 100%;
}

#articles .container section article {
  padding: 15px 20px 20px;
  color: var(--secColor);
  text-transform: capitalize;
}

#articles .container section article p {
  margin-top: 10px;
  line-height: 1.3;
  font-size: 14px;
  color: var(--fontColor);
}

#articles .container section hr {
  border-color: rgba(4, 35, 62, 0.089);
}

#articles .container section a {
  padding: 15px 20px;
  color: var(--mainColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 13px;
}

#articles .container section:hover {
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.308);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.308);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#articles .container section:hover a i {
  -webkit-animation: arrow-art 1s linear infinite alternate;
          animation: arrow-art 1s linear infinite alternate;
}

/*! End Articles */
/*! Start Gallery */
#gallery {
  padding: 60px 0;
  position: relative;
  background-color: #ececec;
}

#gallery::after, #gallery::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 30px;
  background-image: linear-gradient(135deg, #fff 25%, transparent 25%), linear-gradient(-135deg, #fff 25%, transparent 25%);
  background-size: 30px 30px;
}

#gallery::before {
  top: 0;
}

#gallery::after {
  bottom: 0;
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%), linear-gradient(-45deg, #fff 25%, transparent 25%);
}

#gallery .container {
  margin: 80px auto 0;
  display: -ms-grid;
  display: grid;
  gap: 50px;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#gallery .container section {
  background-color: #fff;
  padding: 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.226);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.226);
  cursor: pointer;
}

#gallery .container section div {
  position: relative;
  overflow: hidden;
}

#gallery .container section div img {
  max-width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#gallery .container section div::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  background-color: #ececec36;
  opacity: 0;
}

#gallery .container section div:hover::after {
  -webkit-animation: Flashing 0.7s linear;
          animation: Flashing 0.7s linear;
}

#gallery .container section div:hover img {
  -webkit-transform: rotate(10deg) scale(1.2);
          transform: rotate(10deg) scale(1.2);
}

/*! End Gallery */
/*! Start Features */
#features {
  padding: 60px 0;
}

#features .container {
  display: -ms-grid;
  display: grid;
  gap: 50px;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 80px auto;
}

#features .container section {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.164);
}

#features .container section .img-hold {
  position: relative;
  overflow: hidden;
}

#features .container section .img-hold img {
  max-width: 100%;
  height: 100%;
}

#features .container section .img-hold::after, #features .container section .img-hold::before {
  content: "";
  position: absolute;
}

#features .container section .img-hold::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 150, 136, 0.6);
}

#features .container section .img-hold::after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  bottom: 0%;
  right: 0%;
  border-style: solid;
  border-width: 0 0 200px 500px;
  border-color: transparent transparent white transparent;
}

@media (max-width: 696px) {
  #features .container section .img-hold::after {
    border-width: 0 0 250px 800px;
  }
}

#features .container section h2 {
  font-size: 35px;
  position: relative;
  margin: 20px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#features .container section h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
  height: 5px;
  background-color: var(--mainColorSec);
}

#features .container section p {
  margin: 30px 10px;
  line-height: 2;
  font-size: 18px;
  color: var(--fontColor);
}

#features .container section button {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 30px;
  margin: 30px 0;
  border: 3px solid var(--mainColorSec);
  border-radius: 7px;
  color: var(--mainColorSec);
  background-color: transparent;
  position: relative;
  z-index: 5;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#features .container section button::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
  z-index: -1;
  background-color: var(--mainColorSec);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#features .container section:hover .img-hold::after {
  border-width: 0 500px 200px 0;
}

@media (max-width: 696px) {
  #features .container section:hover .img-hold::after {
    border-width: 0 800px 300px 0;
  }
}

#features .container section:hover button {
  color: #fff;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#features .container section:hover button::before {
  width: 100%;
}

#features .container section:first-child .img-hold::before {
  background-color: rgba(244, 64, 54, 0.6);
}

#features .container section:last-child .img-hold::before {
  background-color: rgba(3, 169, 244, 0.6);
}

/*! End Features */
/*! Start Testimonianls */
#testimonials {
  padding: 100px 0;
  background-color: #ececec;
}

#testimonials .container {
  display: -ms-grid;
  display: grid;
  gap: 50px;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 120px;
  padding-top: 40px;
  max-height: 628px;
  /*! Style Scroll Bar*/
  overflow: hidden auto;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  /*! End */
}

#testimonials .container::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 10px;
}

#testimonials .container::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
  border-radius: 10px;
  height: 5px;
}

#testimonials .container > section {
  margin: 20px 0;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.247);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.247);
}

#testimonials .container > section .prof-ph {
  position: absolute;
  width: 100px;
  height: 100px;
  right: -5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 10px solid #ececec;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#testimonials .container > section .prof-ph i {
  display: none;
  color: var(--mainColor);
  cursor: pointer;
}

#testimonials .container > section .prof-ph img {
  max-width: 100%;
}

#testimonials .container > section .text {
  padding: 20px;
}

#testimonials .container > section .text h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--mainColor);
}

#testimonials .container > section .text section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

#testimonials .container > section .text section i:not(:last-child) {
  margin-right: 5px;
}

#testimonials .container > section .text section .filled.fa-star {
  color: #ffc107;
}

#testimonials .container > section .text p {
  color: var(--fontColor);
  font-size: 16px;
  margin: 7px 0;
}

#testimonials .container > section .text p:last-child {
  font-size: 14px;
  line-height: 1.5;
  max-width: 100%;
}

#testimonials .container > section:hover .prof-ph {
  background-color: #fff;
}

#testimonials .container > section:hover .prof-ph i {
  display: block;
  font-size: 80px;
}

#testimonials .container > section:hover .prof-ph img {
  display: none;
}

#testimonials .testi-more {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 20px;
  margin: 50px 0 50px 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  border: 2px solid var(--mainColor);
  border-radius: 7px;
  color: var(--mainColor);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}

#testimonials .testi-more::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  height: 100%;
  width: 0%;
  background-color: var(--mainColor);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

#testimonials .testi-more:hover {
  color: #fff;
}

#testimonials .testi-more:hover::before {
  width: 102%;
}

/*! End Testimonianls */
/*! Start Team Members */
#team-members {
  padding: 60px 0;
}

#team-members .container {
  display: -ms-grid;
  display: grid;
  gap: 50px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 100px;
  overflow: hidden;
}

#team-members .container > section {
  position: relative;
  cursor: -webkit-grab;
  cursor: grab;
}

#team-members .container > section::before, #team-members .container > section::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 60px);
  height: 100%;
  background-color: #f4f4f4;
  border-radius: 10px;
  z-index: -2;
}

#team-members .container > section::after {
  width: 0;
  background-color: #ececec;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#team-members .container > section .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

#team-members .container > section .top img {
  border-radius: 10px;
  max-width: calc(100% - 60px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#team-members .container > section .top .social {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#team-members .container > section .top .social i {
  margin: 20px 0;
  color: var(--fontColor);
  font-size: 20px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

#team-members .container > section .top .social i:hover {
  color: var(--mainColor);
}

#team-members .container > section .bottom {
  margin-left: 80px;
  padding: 20px 0;
}

#team-members .container > section .bottom h3 {
  color: var(--mainColor);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#team-members .container > section .bottom p {
  color: var(--fontColor);
}

#team-members .container > section:hover::after {
  width: calc(100% - 60px);
}

#team-members .container > section:hover h3 {
  color: #777;
}

#team-members .container > section:hover .top img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@media (max-width: 700px) {
  #team-members .container > section::before, #team-members .container > section:hover:after {
    width: calc(100% - 40px);
  }
  #team-members .container > section .top {
    padding: 20px 0 0;
  }
  #team-members .container > section .top .social i {
    margin: 10px 0;
  }
  #team-members .container > section .bottom {
    padding: 10px 0;
    margin-left: 50px;
  }
  #team-members .container > section .bottom p {
    font-size: 14px;
    min-width: 240px;
  }
}

@media (max-width: 594px) {
  #team-members .container > section::before, #team-members .container > section:hover:after {
    width: calc(100% - 80px);
  }
  #team-members .container > section .top {
    padding: 20px 0 0;
  }
  #team-members .container > section .top img {
    width: calc(100% - 80px);
  }
  #team-members .container > section .top .social {
    width: 80px;
  }
  #team-members .container > section .top .social i {
    margin: 20px 0;
    font-size: 22px;
  }
  #team-members .container > section .bottom {
    padding: 20px 0;
    margin-left: 100px;
  }
  #team-members .container > section .bottom h3 {
    font-size: 25px;
  }
  #team-members .container > section .bottom p {
    font-size: 17px;
    min-width: 240px;
  }
}

@media (max-width: 394px) {
  #team-members .container > section::before, #team-members .container > section:hover:after {
    width: calc(100% - 60px);
  }
  #team-members .container > section .top {
    padding: 20px 0 0;
  }
  #team-members .container > section .top img {
    width: calc(100% - 60px);
  }
  #team-members .container > section .top .social {
    width: 60px;
  }
  #team-members .container > section .bottom {
    margin-left: 80px;
  }
  #team-members .container > section .bottom h3 {
    font-size: 22px;
  }
  #team-members .container > section .bottom p {
    font-size: 15px;
  }
}

/*! End Team Members */
/*! Start Services */
#services {
  padding: 60px 0;
  position: relative;
  background-color: #ececec;
}

#services::after, #services::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 30px;
  background-image: linear-gradient(135deg, #fff 25%, transparent 25%), linear-gradient(-135deg, #fff 25%, transparent 25%);
  background-size: 30px 30px;
}

#services::before {
  top: 0;
}

#services::after {
  bottom: 0;
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%), linear-gradient(-45deg, #fff 25%, transparent 25%);
}

#services .container {
  margin: 100px auto;
  display: -ms-grid;
  display: grid;
  gap: 50px;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#services .container > section {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.208);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.208);
  border-radius: 4px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#services .container > section > div:first-child {
  text-align: center;
  padding: 50px;
}

#services .container > section > div:first-child i {
  font-size: 70px;
  color: #d5d5d5;
  margin-bottom: 20px;
  cursor: -webkit-grab;
  cursor: grab;
}

#services .container > section > div:first-child h2 {
  color: var(--mainColor);
}

#services .container > section > div:last-child {
  text-align: right;
  padding: 15px;
  background-color: #f8f8f8;
  position: relative;
  overflow: hidden;
}

#services .container > section > div:last-child a {
  color: var(--mainColor);
}

#services .container > section > div:last-child::before {
  counter-increment: Services-Con;
  content: "0" counter(Services-Con);
  position: absolute;
  bottom: 0;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 30%;
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  background-color: var(--mainColor);
}

#services .container > section > div:last-child::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  left: 25%;
  top: 0;
  width: 14%;
  height: 100%;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}

#services .container > section::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0px;
  height: 5px;
  background-color: var(--mainColor);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 4px;
}

#services .container > section:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#services .container > section:hover::after {
  width: 100%;
}

/*! End Services */
/*! Start Our Skills */
#skills {
  padding: 60px 0;
}

#skills .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-top: 100px;
}

#skills .container img {
  max-width: 600px;
}

@media (max-width: 991px) {
  #skills .container img {
    display: none;
  }
}

#skills .container > .dataprog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#skills .container > .dataprog section {
  margin-bottom: 25px;
  cursor: -webkit-grab;
  cursor: grab;
}

#skills .container > .dataprog section .info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills .container > .dataprog section .info h3 {
  color: var(--fontColor);
  text-transform: uppercase;
}

#skills .container > .dataprog section .info p {
  color: var(--mainColor);
  font-weight: 800;
  font-size: 10px;
  border: 1px solid var(--mainColor);
  padding: 3px 5px;
  border-radius: 3px;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#skills .container > .dataprog section .info p::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: var(--mainColor);
  z-index: -1;
}

#skills .container > .dataprog section > i {
  display: block;
  height: 30px;
  width: 100%;
  background-color: #d5d5d5;
  margin-top: 10px;
  position: relative;
}

#skills .container > .dataprog section > i i {
  position: absolute;
  width: 0%;
  height: 100%;
  display: block;
  background-color: var(--mainColor);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: var(--deley);
          transition-delay: var(--deley);
}

#skills .container > .dataprog section:hover .info p {
  color: #fff;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#skills .container > .dataprog section:hover .info p::after {
  width: 100%;
}

#skills .container > .dataprog section:hover i i {
  -webkit-animation: ProgressFlashing 0.5s linear infinite alternate;
          animation: ProgressFlashing 0.5s linear infinite alternate;
}

/*! End Our Skills */
/*! Start How Works*/
#how-works {
  padding: 60px 0;
  background-color: #ececec;
}

#how-works .container {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 80px;
          column-gap: 80px;
}

#how-works .container img {
  max-width: 100%;
}

#how-works .container section > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  margin-top: 20px;
  background-color: #f4f4f4;
  border: 2px solid #fff;
  border-radius: 7px;
  position: relative;
}

#how-works .container section > div img {
  z-index: 5;
  max-width: 64px;
  margin-right: 30px;
}

#how-works .container section > div .info {
  z-index: 5;
}

#how-works .container section > div .info h3 {
  margin-bottom: 10px;
  color: var(--mainColor);
}

#how-works .container section > div .info p {
  color: var(--fontColor);
}

#how-works .container section > div::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #ededed;
  z-index: 2;
  border-radius: 7px;
}

#how-works .container section > div:hover::before {
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  #how-works .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #how-works .container section > div:first-child {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  #how-works .container section > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  #how-works .container section > div img {
    margin: 0;
  }
  #how-works .container section > div .info h3 {
    margin: 20px 0;
  }
}

/*! End How Works*/
/*! Start Events */
#events {
  padding: 60px 0;
  position: relative;
  overflow: hidden;
}

#events .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

#events .container img {
  max-width: 500px;
}

@media (max-width: 992px) {
  #events .container img {
    display: none;
  }
}

#events .container .event {
  margin: 0 auto;
  text-align: center;
}

#events .container .event .date div {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid rgba(119, 119, 119, 0.548);
  width: 80px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.158);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.158);
  cursor: pointer;
}

#events .container .event .date div p:first-child {
  font-size: 20px;
  font-weight: 800;
  color: var(--mainColor);
  margin: 20px 0 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#events .container .event .date div p:last-child {
  border-top: 1px solid #d5d5d5;
  font-size: 12px;
  padding: 5px 0 10px;
  line-height: 2;
}

#events .container .event .date div:hover {
  border-color: var(--mainColor);
}

#events .container .event .date div:hover p:first-child {
  color: #03a8f483;
}

#events .container .event .date div:not(:last-child) {
  margin-right: 10px;
}

@media (max-width: 420px) {
  #events .container .event .date div {
    width: 60px;
  }
  #events .container .event .date div p:first-child {
    margin: 10px 0;
  }
  #events .container .event .date div p:last-child {
    font-size: 10px;
  }
}

#events .container .event .info {
  margin: 50px 0;
}

#events .container .event .info h3 {
  color: var(--mainColor);
  font-size: 25px;
  margin-bottom: 30px;
}

#events .container .event .info p {
  color: var(--fontColor);
  max-width: 500px;
}

#events .container .event .subscribe {
  padding: 30px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

#events .container .event .subscribe input {
  padding: 15px 20px;
  width: 100%;
  outline: 0;
  border: 1px solid rgba(119, 119, 119, 0.507);
  color: var(--mainColor);
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#events .container .event .subscribe input:hover {
  border-color: var(--mainColor);
}

#events .container .event .subscribe button {
  width: 40%;
  margin-top: 20px;
  padding: 10px;
  color: #03a9f4;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid var(--mainColor);
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 0.8em;
  z-index: 2;
  cursor: pointer;
}

#events .container .event .subscribe button::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: var(--mainColor);
  border-radius: 10px;
  z-index: -1;
}

#events .container .event .subscribe button:hover {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  color: #fff;
}

#events .container .event .subscribe button:hover::before {
  width: 100%;
}

@media (max-width: 450px) {
  #events .container .event .subscribe button {
    font-size: 0.7em;
    padding: 10px 5px;
  }
}

@media (max-width: 378px) {
  #events .container .event .subscribe button {
    width: 80%;
    font-size: 0.8em;
  }
  #events .container .event .subscribe .BtnSubscribe {
    background-color: var(--mainColor);
    color: #fff;
  }
}

#events .Btn-event {
  font-size: 30px;
  color: var(--mainColor);
  position: absolute;
  top: 40%;
  right: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#events .Btn-event:hover {
  color: #03a9f4;
}

#events .events-list {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -500px;
  padding: 10px;
  background-color: #eee;
  width: 500px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 60;
  border-radius: 10px;
}

#events .events-list i {
  color: var(--mainColor);
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 20px;
}

#events .events-list .events-fields {
  overflow-y: auto;
  max-height: 80vh;
  border-radius: 20px;
  padding: 0 5px;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

#events .events-list .events-fields::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 10px;
  background-color: #eee;
}

#events .events-list .events-fields::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
  border-radius: 10px;
  height: 5px;
}

#events .events-list .events-fields > div {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  border: 1px solid rgba(133, 133, 133, 0.24);
  border-radius: 25px;
  margin: 20px 0;
  color: var(--mainColor);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#events .events-list .events-fields > div h3 {
  color: inherit;
  font-size: 1em;
  text-transform: capitalize;
}

#events .events-list .events-fields > div .btns {
  margin-top: 10px;
}

#events .events-list .events-fields > div .btns button:last-child {
  margin-left: 10px;
}

#events .events-list .events-fields > div:hover {
  -webkit-box-shadow: 0 0 10px var(--mainColor);
          box-shadow: 0 0 10px var(--mainColor);
}

#events .events-list .events-fields .Done {
  background-color: var(--mainColor);
  color: #fff;
}

#events .events-list .events-fields .Done .btns button {
  border-color: #fff;
}

#events .events-list .events-fields .Done .btns button::before {
  background-color: #fff;
}

#events .events-list .events-fields .Done .btns button:hover {
  color: var(--mainColor);
}

#events .events-list .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

#events .events-list .option .nearest-Event {
  color: var(--fontColor);
  font-size: 0.8em;
}

#events .events-list .option .clear {
  background-color: #fff;
}

@media (max-width: 530px) {
  #events .events-list .option {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #events .events-list .option .clear {
    width: 100%;
    margin-top: 10px;
  }
}

#events .events-list button {
  padding: 10px;
  border-radius: 10px;
  min-width: 80px;
  border: 1px solid var(--mainColor);
  background-color: inherit;
  color: inherit;
  position: relative;
  z-index: 5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

#events .events-list button::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: var(--mainColor);
  border-radius: 10px;
  z-index: -1;
}

#events .events-list button:hover {
  color: #fff;
}

#events .events-list button:hover::before {
  width: 100%;
}

@media (max-width: 530px) {
  #events .events-list {
    top: 60%;
    width: 280px;
  }
  #events .events-list .events-fields {
    max-height: 50vh;
  }
  #events .events-list .events-fields div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #events .events-list .events-fields div h3 {
    font-size: 15px;
    text-align: center;
  }
  #events .events-list .events-fields div .btns button:last-child {
    margin-left: 5px;
  }
  #events .events-list button {
    padding: 10px;
    font-size: 11px;
    border-radius: 15px;
  }
  #events .events-list button::before {
    border-radius: 15px;
  }
}

/*! End Events */
/*! Start Pricing*/
#pricing {
  padding: 60px 0;
  background-color: #ececec;
}

#pricing .container {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 100px;
}

#pricing .container > section {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
  border-radius: 2px;
  position: relative;
  z-index: 1;
}

#pricing .container > section header {
  text-align: center;
  padding: 30px 0;
}

#pricing .container > section header h2 {
  font-size: 25px;
  font-weight: 700;
  color: var(--fontColor);
}

#pricing .container > section header img {
  width: 60px;
  margin: 20px 0;
}

#pricing .container > section header h3 {
  font-size: 50px;
  font-weight: 800;
  color: var(--mainColor);
}

#pricing .container > section header p {
  font-size: 17px;
  color: var(--fontColor);
}

#pricing .container > section section div {
  padding: 20px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.11);
}

#pricing .container > section section div i {
  color: var(--mainColor);
  margin-right: 10px;
  font-size: 20px;
}

#pricing .container > section section div p {
  display: inline-block;
  color: var(--fontColor);
}

#pricing .container > section button {
  margin: 30px auto 50px;
  display: block;
  padding: 10px 15px;
  border: 2px solid var(--mainColor);
  color: var(--mainColor);
  font-weight: 700;
  font-size: 17px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

#pricing .container > section button:hover {
  background-color: var(--mainColor);
  color: #fff;
}

#pricing .container > section::before, #pricing .container > section::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 0px;
  background-color: #ececec6b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

#pricing .container > section::before {
  top: 0;
  right: 0;
}

#pricing .container > section::after {
  bottom: 0;
  left: 0;
}

#pricing .container > section:hover::after, #pricing .container > section:hover::before {
  width: 100%;
}

#pricing .container > section:nth-child(2) {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

#pricing .container > section:nth-child(2) > p {
  position: absolute;
  top: 49px;
  right: -30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: var(--mainColor);
  padding: 7px 5px 7px 5px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  z-index: 4;
}

#pricing .container > section:nth-child(2) > p::after {
  content: "";
  position: absolute;
  right: -43px;
  bottom: 0;
  border: 22px solid;
  border-color: var(--mainColor) transparent var(--mainColor) var(--mainColor);
}

@media (max-width: 1198px) {
  #pricing .container > section:nth-child(2) {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

/*! End Pricing*/
/*! Start Top Videos*/
#top-videos {
  padding: 60px 0;
}

#top-videos .container {
  margin-top: 100px;
  overflow: hidden;
}

#top-videos .container .holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e2e2e2;
  -webkit-box-shadow: 0 0 10px #ececec;
          box-shadow: 0 0 10px #ececec;
}

#top-videos .container .holder .videosBar {
  min-width: 300px;
  background-color: #fff;
  margin: 1px;
}

#top-videos .container .holder .videosBar header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
  padding: 20px;
}

#top-videos .container .holder .videosBar header i {
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

#top-videos .container .holder .videosBar header i:hover {
  color: var(--fontColor);
}

#top-videos .container .holder .videosBar .videos-list {
  max-height: 80vh;
  /*! Style Scroll Bar*/
  overflow: hidden auto;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  /*! End */
}

#top-videos .container .holder .videosBar .videos-list::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 10px;
}

#top-videos .container .holder .videosBar .videos-list::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
  border-radius: 10px;
  height: 5px;
}

#top-videos .container .holder .videosBar .videos-list li {
  padding: 20px;
  border-top: 1px solid #ececec;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  height: 100%;
}

#top-videos .container .holder .videosBar .videos-list li p {
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 600;
}

#top-videos .container .holder .videosBar .videos-list li span {
  color: var(--fontColor);
  margin-top: 10px;
  display: block;
  font-size: 13px;
}

#top-videos .container .holder .videosBar .videos-list li:hover,
#top-videos .container .holder .videosBar .videos-list .activeVideo {
  background-color: #f8f8f8;
}

#top-videos .container .holder .videosBar .videos-list li:hover p,
#top-videos .container .holder .videosBar .videos-list .activeVideo p {
  color: var(--mainColor);
}

#top-videos .container .holder > section:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  width: 100%;
}

#top-videos .container .holder > section:last-child .video-container {
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 56.25%;
}

#top-videos .container .holder > section:last-child .video-container iframe {
  width: 100%;
  height: 85%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 1199px) {
  #top-videos .container .holder > section:last-child .video-container iframe {
    height: 110%;
  }
}

#top-videos .container .holder > section:last-child .video-info {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

#top-videos .container .holder > section:last-child .video-info .details {
  width: 100%;
  color: var(--fontColor);
  font-weight: 600;
}

#top-videos .container .holder > section:last-child .video-info .otherDetails {
  margin-top: 15px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#top-videos .container .holder > section:last-child .video-info .otherDetails p {
  margin-right: 10px;
}

#top-videos .container .holder > section:last-child .video-info .otherDetails span {
  background-color: var(--fontColor);
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: block;
}

@media (max-width: 991px) {
  #top-videos .container .holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #top-videos .container .holder .videosBar .videos-list {
    max-height: 60vh;
  }
  #top-videos .container .holder .videosBar .videos-list li {
    padding: 10px 20px;
  }
  #top-videos .container .holder > section:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #top-videos .container .holder > section:last-child .video-container iframe {
    height: 60vh;
  }
}

@media (max-width: 767px) {
  #top-videos .container .holder > section:last-child .video-container iframe {
    height: 80%;
  }
}

/*! End Top Videos*/
/*# sourceMappingURL=main.css.map */