@import "animation";
@import "mixin";

/*! Start Header */
.header-links {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);
    background-color: #fff;
    z-index: 5;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        h1 {
            color: var(--mainColor);
            letter-spacing: 3px;
        }
        > ul {
            > li {
                display: inline-block;
                color: var(--secColor);
                font-size: 20px;
                padding: 20px;
                cursor: pointer;
                position: relative;
                z-index: 3;
                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0px;
                    background-color: var(--mainColor);
                    transition: 0.3s;
                    z-index: -1;
                    height: 5px;
                }
                &::before {
                    background-color: #fafafa;
                    height: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:hover::after,
                &:hover::before {
                    width: 100%;
                }
                &:hover {
                    color: var(--mainColor);
                    transition-delay: 0.2s;
                }
            }
        }
        .megaMenu {
            position: absolute;
            top: calc(100% + 100px);
            background-color: #fff;
            border-bottom: 3px solid var(--mainColor);
            left: 0;
            width: 100%;
            display: flex;
            gap: 40px;
            padding: 30px;
            z-index: 100;
            opacity: 0;
            transition: 0.3s;
            .img img {
                max-width: 100%;
            }
            ul li {
                min-width: 240px;
                padding: 15px 20px 15px 0;
                border-bottom: 1px solid #04223d25;
                color: var(--mainColor);
                font-size: 20px;
                font-weight: bold;
                position: relative;
                i {
                    margin-right: 15px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: -5px;
                    top: 0;
                    height: 100%;
                    width: 0px;
                    background-color: #fafafa;
                    transition: 0.3s;
                    z-index: -1;
                }
                &:hover::after {
                    width: calc(100% + 5px);
                }
            }
            li:not(:last-child) {
                margin-bottom: 3px;
            }
            @media (max-width: 991px) {
                justify-content: space-evenly;
                .img {
                    display: none;
                }
            }

            @media (max-width: 650px) {
                flex-direction: column;
                gap: 0;
            }
        }
        @media (max-width: 768px) {
            flex-direction: column;
            h1 {
                margin-bottom: 10px;
            }
            > ul li {
                font-size: 17px;
                padding: 15px 10px;
            }
        }
        @media (max-width: 420px) {
            > ul li {
                font-size: 12px;
                padding: 10px 5px;
            }
            .megaMenu ul li {
                padding: 10px;
                min-width: 100%;
                font-size: 15px;
            }
        }
    }
}
/*! End Header */
/*! Start Landing */
.landing {
    position: relative;
    .container {
        padding-top: 30px;
        min-height: calc(100vh - 75px);
        display: flex;
        .img img {
            max-width: 550px;
            animation: landing_anim 7s linear infinite alternate;
        }
        .textLand {
            flex: 1;
            margin-top: 100px;
            h2 {
                text-transform: capitalize;
                font-size: 30px;
                font-weight: 900;
                color: var(--secColor);
                letter-spacing: 1.9px;
            }
            p {
                color: var(--fontColor);
                font-size: 20px;
                line-height: 1.8;
                max-width: 500px;
                margin-left: 10px;
            }
        }
        i {
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            color: var(--mainColor);
            animation: up-down 1s infinite alternate;
            transition: 0.5s;
            z-index: 55;
            &:hover {
                color: var(--secColor);
            }
        }
        @media (max-width: 1198px) and (min-width: 992px) {
            .textLand h2 {
                font-size: 25px;
            }
        }
        @media (max-width: 991px) {
            text-align: center;
            padding: 0;
            .img {
                display: none;
            }
            .textLand {
                margin-top: 150px;
                h2 {
                    font-size: 40px;
                }
                p {
                    max-width: 500px;
                    margin: 0 auto;
                }
            }
        }
        @media (max-width: 586px) {
            .textLand h2 {
                font-size: 30px;
            }
            .textLand p {
                font-size: 17px;
            }
        }
        @media (max-width: 420px) {
            .textLand h2 {
                font-size: 22px;
            }
            .textLand p {
                font-size: 14px;
                max-width: 250px;
            }
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #eee;
        transform: skewY(-6deg);
        transform-origin: top left;
    }
    @media (max-width: 991px) {
        &::after {
            transform: skewY(-10deg);
        }
    }
    @media (max-width: 767px) {
        .container {
            min-height: calc(100vh - 122px);
        }
        &::after {
            transform: skewY(-15deg);
        }
    }
}
/*! End Landing */
/*! Start Articles */
#articles {
    padding: 60px 0;
    .container {
        margin: 100px auto;
        @include grid-tem(4, 30px);
        section {
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.308);
            transition: 0.3s;
            img {
                max-width: 100%;
            }
            article {
                padding: 15px 20px 20px;
                color: var(--secColor);
                text-transform: capitalize;
                p {
                    margin-top: 10px;
                    line-height: 1.3;
                    font-size: 14px;
                    color: var(--fontColor);
                }
            }
            hr {
                border-color: hsla(208, 88%, 13%, 0.089);
            }
            a {
                padding: 15px 20px;
                color: var(--mainColor);
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: bold;
                font-size: 13px;
            }
            &:hover {
                box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.308);
                transform: translateY(-10px);
                a i {
                    animation: arrow-art 1s linear infinite alternate;
                }
            }
        }
    }
}
/*! End Articles */
/*! Start Gallery */
#gallery {
    @include BackGZiqZag;
    .container {
        margin: 80px auto 0;
        @include grid-tem(3, 50px);
        section {
            background-color: #fff;
            padding: 15px;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.226);
            cursor: pointer;
            div {
                position: relative;
                overflow: hidden;
                img {
                    max-width: 100%;
                    transition: 0.5s;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 0px;
                    height: 0px;
                    background-color: #ececec36;
                    opacity: 0;
                }
                &:hover {
                    &::after {
                        animation: Flashing 0.7s linear;
                    }
                    img {
                        transform: rotate(10deg) scale(1.2);
                    }
                }
            }
        }
    }
}
/*! End Gallery */
/*! Start Features */
#features {
    padding: 60px 0;
    .container {
        @include grid-tem(3, 50px);
        margin: 80px auto;
        section {
            text-align: center;
            border: 1px solid rgba(0, 0, 0, 0.164);
            .img-hold {
                position: relative;
                overflow: hidden;
                img {
                    max-width: 100%;
                    height: 100%;
                }
                &::after,
                &::before {
                    content: "";
                    position: absolute;
                }
                &::before {
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: transparentize($color: #009688, $amount: 0.4);
                }
                &::after {
                    transition: 0.3s;
                    bottom: 0%;
                    right: 0%;
                    border-style: solid;
                    border-width: 0 0 200px 500px;
                    border-color: transparent transparent white transparent;
                    @media (max-width: 696px) {
                        border-width: 0 0 250px 800px;
                    }
                }
            }
            h2 {
                font-size: 35px;
                position: relative;
                margin: 20px auto;
                width: fit-content;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 70%;
                    height: 5px;
                    background-color: var(--mainColorSec);
                }
            }
            p {
                margin: 30px 10px;
                line-height: 2;
                font-size: 18px;
                color: var(--fontColor);
            }
            button {
                font-size: 20px;
                font-weight: bold;
                padding: 5px 30px;
                margin: 30px 0;
                border: 3px solid var(--mainColorSec);
                border-radius: 7px;
                color: var(--mainColorSec);
                background-color: transparent;
                position: relative;
                z-index: 5;
                transition: 0.1s;
                &::before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    left: 0;
                    top: 0;
                    width: 0;
                    z-index: -1;
                    background-color: var(--mainColorSec);
                    transition: 0.3s;
                }
            }
            &:hover {
                .img-hold::after {
                    border-width: 0 500px 200px 0;
                    @media (max-width: 696px) {
                        border-width: 0 800px 300px 0;
                    }
                }
                button {
                    &::before {
                        width: 100%;
                    }
                    color: #fff;
                    transition-delay: 0.2s;
                }
            }
        }
        section:first-child .img-hold::before {
            background-color: transparentize($color: #f44036, $amount: 0.4);
        }
        section:last-child .img-hold::before {
            background-color: transparentize($color: #03a9f4, $amount: 0.4);
        }
    }
}
/*! End Features */
/*! Start Testimonianls */
#testimonials {
    padding: 100px 0;
    background-color: #ececec;
    .container {
        @include grid-tem(3, 50px);
        margin-top: 120px;
        padding-top: 40px;
        max-height: 628px;

        /*! Style Scroll Bar*/
        overflow: hidden auto;
        scrollbar-gutter: stable;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
            width: 0.5em;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--mainColor);
            border-radius: 10px;
            height: 5px;
        }

        /*! End */
        > section {
            margin: 20px 0;
            position: relative;
            background-color: #fff;
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.247);
            .prof-ph {
                position: absolute;
                width: 100px;
                height: 100px;
                right: -5px;
                transform: translateY(-50%);
                border: 10px solid #ececec;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    display: none;
                    color: var(--mainColor);
                    cursor: pointer;
                }
                img {
                    max-width: 100%;
                }
            }
            .text {
                padding: 20px;
                h3 {
                    font-size: 20px;
                    font-weight: 600;
                    color: var(--mainColor);
                }
                section {
                    display: flex;
                    margin: 10px 0;
                    i:not(:last-child) {
                        margin-right: 5px;
                    }
                    .filled.fa-star {
                        color: #ffc107;
                    }
                }
                p {
                    color: var(--fontColor);
                    font-size: 16px;
                    margin: 7px 0;
                }
                p:last-child {
                    font-size: 14px;
                    line-height: 1.5;
                    max-width: 100%;
                }
            }
            &:hover {
                .prof-ph {
                    background-color: #fff;
                    i {
                        display: block;
                        font-size: 80px;
                    }
                    img {
                        display: none;
                    }
                }
            }
        }
    }
    .testi-more {
        font-size: 18px;
        font-weight: bold;
        padding: 5px 20px;
        margin: 50px 0 50px 50%;
        transform: translatex(-50%);
        border: 2px solid var(--mainColor);
        border-radius: 7px;
        color: var(--mainColor);
        transition: 0.3s;
        position: relative;
        cursor: pointer;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -1px;
            height: 100%;
            width: 0%;
            background-color: var(--mainColor);
            transition: 0.3s;
            z-index: -1;
        }
        &:hover {
            color: #fff;
            &::before {
                width: 102%;
            }
        }
    }
}
/*! End Testimonianls */
/*! Start Team Members */
#team-members {
    padding: 60px 0;
    .container {
        @include grid-tem(4, 50px);
        margin-top: 100px;
        overflow: hidden;
        > section {
            position: relative;
            cursor: grab;
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: calc(100% - 60px);
                height: 100%;
                background-color: #f4f4f4;
                border-radius: 10px;
                z-index: -2;
            }
            &::after {
                width: 0;
                background-color: #ececec;
                transition: 0.5s;
            }
            .top {
                display: flex;
                align-items: center;
                padding-top: 30px;
                img {
                    border-radius: 10px;
                    max-width: calc(100% - 60px);
                    transition: 0.5s;
                }
                .social {
                    width: 60px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    i {
                        margin: 20px 0;
                        color: var(--fontColor);
                        font-size: 20px;
                        width: 100%;
                        text-align: center;
                        cursor: pointer;
                        &:hover {
                            color: var(--mainColor);
                        }
                    }
                }
            }
            .bottom {
                margin-left: 80px;
                padding: 20px 0;
                h3 {
                    color: var(--mainColor);
                    transition: 0.2s;
                }
                p {
                    color: var(--fontColor);
                }
            }
            &:hover {
                &::after {
                    width: calc(100% - 60px);
                }
                h3 {
                    color: #777;
                }
                .top img {
                    filter: grayscale(100%);
                }
            }
            @media (max-width: 700px) {
                &::before,
                &:hover:after {
                    width: calc(100% - 40px);
                }
                .top {
                    padding: 20px 0 0;
                    .social i {
                        margin: 10px 0;
                    }
                }
                .bottom {
                    padding: 10px 0;
                    margin-left: 50px;
                    p {
                        font-size: 14px;
                        min-width: 240px;
                    }
                }
            }
            @media (max-width: 594px) {
                &::before,
                &:hover:after {
                    width: calc(100% - 80px);
                }
                .top {
                    padding: 20px 0 0;
                    img {
                        width: calc(100% - 80px);
                    }
                    .social {
                        width: 80px;
                        i {
                            margin: 20px 0;
                            font-size: 22px;
                        }
                    }
                }
                .bottom {
                    padding: 20px 0;
                    margin-left: 100px;
                    h3 {
                        font-size: 25px;
                    }
                    p {
                        font-size: 17px;
                        min-width: 240px;
                    }
                }
            }
            @media (max-width: 394px) {
                &::before,
                &:hover:after {
                    width: calc(100% - 60px);
                }
                .top {
                    padding: 20px 0 0;
                    img {
                        width: calc(100% - 60px);
                    }
                    .social {
                        width: 60px;
                    }
                }
                .bottom {
                    margin-left: 80px;
                    h3 {
                        font-size: 22px;
                    }
                    p {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
/*! End Team Members */
/*! Start Services */
#services {
    @include BackGZiqZag;
    .container {
        margin: 100px auto;
        @include grid-tem(3, 50px);

        > section {
            background-color: #fff;
            display: flex;
            justify-content: center;
            flex-direction: column;
            box-shadow: 0 0 7px hsla(0, 0%, 0%, 0.208);
            border-radius: 4px;
            position: relative;
            transition: 0.3s;
            > div:first-child {
                text-align: center;
                padding: 50px;
                i {
                    font-size: 70px;
                    color: #d5d5d5;
                    margin-bottom: 20px;
                    cursor: grab;
                }
                h2 {
                    color: var(--mainColor);
                }
            }
            > div:last-child {
                text-align: right;
                padding: 15px;
                background-color: #f8f8f8;
                position: relative;
                overflow: hidden;
                a {
                    color: var(--mainColor);
                }
                &::before {
                    counter-increment: Services-Con;
                    content: "0" counter(Services-Con);
                    position: absolute;
                    bottom: 0;
                    left: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 30%;
                    font-size: 30px;
                    font-weight: 800;
                    color: #fff;
                    background-color: var(--mainColor);
                }
                &::after {
                    content: "";
                    position: absolute;
                    background-color: #d5d5d5;
                    left: 25%;
                    top: 0;
                    width: 14%;
                    height: 100%;
                    transform: skew(-20deg);
                }
            }
            &::after {
                content: "";
                position: absolute;
                top: -5px;
                left: 50%;
                transform: translateX(-50%);
                width: 0px;
                height: 5px;
                background-color: var(--mainColor);
                transition: 0.3s;
                border-radius: 4px;
            }
            &:hover {
                transform: translateY(-10px);
                &::after {
                    width: 100%;
                }
            }
        }
    }
}
/*! End Services */
/*! Start Our Skills */
#skills {
    padding: 60px 0;
    .container {
        display: flex;
        gap: 50px;
        margin-top: 100px;

        img {
            max-width: 600px;
            @media (max-width: 991px) {
                display: none;
            }
        }
        > .dataprog {
            display: flex;
            flex-direction: column;
            width: 100%;
            section {
                margin-bottom: 25px;
                cursor: grab;
                .info {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h3 {
                        color: var(--fontColor);
                        text-transform: uppercase;
                    }
                    p {
                        color: var(--mainColor);
                        font-weight: 800;
                        font-size: 10px;
                        border: 1px solid var(--mainColor);
                        padding: 3px 5px;
                        border-radius: 3px;
                        position: relative;
                        transition: 0.2s;
                        &::after {
                            @include fill;
                            z-index: -1;
                        }
                    }
                }
                > i {
                    display: block;
                    height: 30px;
                    width: 100%;
                    background-color: #d5d5d5;
                    margin-top: 10px;
                    position: relative;
                    i {
                        position: absolute;
                        width: 0%;
                        height: 100%;
                        display: block;
                        background-color: var(--mainColor);
                        transition: 1s;
                        transition-delay: var(--deley);
                    }
                }
                &:hover {
                    .info {
                        p {
                            color: #fff;
                            transition-delay: 0.2s;
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                    i i {
                        animation: ProgressFlashing 0.5s linear infinite alternate;
                    }
                }
            }
        }
    }
}
/*! End Our Skills */
/*! Start How Works*/
#how-works {
    padding: 60px 0;
    background-color: #ececec;
    .container {
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 80px;

        img {
            max-width: 100%;
        }
        section {
            > div {
                display: flex;
                align-items: center;
                padding: 30px;
                margin-top: 20px;
                background-color: #f4f4f4;
                border: 2px solid #fff;
                border-radius: 7px;
                position: relative;
                img {
                    z-index: 5;
                    max-width: 64px;
                    margin-right: 30px;
                }
                .info {
                    z-index: 5;
                    h3 {
                        margin-bottom: 10px;
                        color: var(--mainColor);
                    }
                    p {
                        color: var(--fontColor);
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 0;
                    height: 0;
                    transition: 0.5s;
                    background-color: #ededed;
                    z-index: 2;
                    border-radius: 7px;
                }
                &:hover {
                    &::before {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        @media (max-width: 992px) {
            flex-direction: column;
            section > div:first-child {
                margin-top: 50px;
            }
        }
        @media (max-width: 767px) {
            section > div {
                flex-direction: column;
                text-align: center;
                img {
                    margin: 0;
                }
                .info h3 {
                    margin: 20px 0;
                }
            }
        }
    }
}
/*! End How Works*/
/*! Start Events */
#events {
    padding: 60px 0;
    position: relative;
    overflow: hidden;
    .container {
        display: flex;
        margin-top: 100px;
        img {
            max-width: 500px;
            @media (max-width: 992px) {
                display: none;
            }
        }
        .event {
            margin: 0 auto;
            text-align: center;
            .date {
                div {
                    display: inline-block;
                    border-radius: 5px;
                    border: 1px solid rgba(119, 119, 119, 0.548);
                    width: 80px;
                    transition: 0.3s;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.158);
                    cursor: pointer;
                    p:first-child {
                        font-size: 20px;
                        font-weight: 800;
                        color: var(--mainColor);
                        margin: 20px 0 10px;
                        transition: 0.3s;
                    }
                    p:last-child {
                        border-top: 1px solid #d5d5d5;
                        font-size: 12px;
                        padding: 5px 0 10px;
                        line-height: 2;
                    }
                    &:hover {
                        border-color: var(--mainColor);
                        p:first-child {
                            color: #03a8f483;
                        }
                    }
                }
                div:not(:last-child) {
                    margin-right: 10px;
                }
                @media (max-width: 420px) {
                    div {
                        width: 50px;
                        p:first-child {
                            margin: 10px 0;
                        }
                        p:last-child {
                            font-size: 10px;
                        }
                    }
                }
            }
            .info {
                margin: 50px 0;
                h3 {
                    color: var(--mainColor);
                    font-size: 25px;
                    margin-bottom: 30px;
                }
                p {
                    color: var(--fontColor);
                    max-width: 500px;
                }
            }
            .subscribe {
                padding: 30px;
                background-color: #f4f4f4;
                border-radius: 10px;
                input {
                    padding: 15px 20px;
                    width: 100%;
                    outline: 0;
                    border: 1px solid rgba(119, 119, 119, 0.507);
                    color: var(--mainColor);
                    border-radius: 8px;
                    transition: 0.3s;
                    &:hover {
                        border-color: var(--mainColor);
                    }
                }
                button {
                    width: 40%;
                    margin-top: 20px;
                    padding: 10px;
                    color: #03a9f4;
                    border-radius: 10px;
                    background-color: #fff;
                    border: 1px solid var(--mainColor);
                    position: relative;
                    transition: 0.2s;
                    font-size: 0.8em;
                    z-index: 2;
                    cursor: pointer;
                    &::before {
                        @include fill;
                        border-radius: 10px;
                        z-index: -1;
                    }
                    &:hover {
                        transition-delay: 0.1s;
                        color: #fff;
                        &::before {
                            width: 100%;
                        }
                    }
                    @media (max-width: 450px) {
                        font-size: 0.7em;
                        padding: 10px 5px;
                    }
                }
                @media (max-width: 378px) {
                    button {
                        width: 80%;
                        font-size: 0.8em;
                    }
                    .BtnSubscribe {
                        background-color: var(--mainColor);
                        color: #fff;
                    }
                }
            }
        }
    }
    .Btn-event {
        font-size: 30px;
        color: var(--mainColor);
        position: absolute;
        top: 40%;
        right: 10px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            color: #03a9f4;
        }
    }
    .events-list {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -500px;
        padding: 10px;
        background-color: #eee;
        width: 500px;
        transition: 0.5s;
        z-index: 60;
        border-radius: 10px;
        i {
            color: var(--mainColor);
            font-size: 25px;
            cursor: pointer;
            margin-bottom: 20px;
        }
        .events-fields {
            overflow-y: auto;
            max-height: 80vh;
            border-radius: 20px;
            padding: 0 5px;
            scrollbar-gutter: stable;
            scroll-behavior: smooth;
            &::-webkit-scrollbar {
                width: 0.5em;
                border-radius: 10px;
                background-color: #eee;
            }
            &::-webkit-scrollbar-thumb {
                background-color: var(--mainColor);
                border-radius: 10px;
                height: 5px;
            }
            > div {
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #fff;
                border: 1px solid rgba(133, 133, 133, 0.24);
                border-radius: 25px;
                margin: 20px 0;
                color: var(--mainColor);
                cursor: pointer;
                transition: .3s;
                h3 {
                    color: inherit;
                    font-size: 1em;
                    text-transform: capitalize;
                }
                .btns {
                    margin-top: 10px;

                    button:last-child {
                        margin-left: 10px;
                    }
                }
                &:hover{
                    box-shadow: 0 0 10px var(--mainColor);
                }
            }
            .Done {
                //Style Event Done
                background-color: var(--mainColor);
                color: #fff;
                .btns button {
                    border-color: #fff;
                    &::before {
                        background-color: #fff;
                    }
                    &:hover {
                        color: var(--mainColor);
                    }
                }
            }
        }
        .option {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 20px;
            .nearest-Event {
                color: var(--fontColor);
                font-size: 0.8em;
            }
            .clear {
                background-color: #fff;
            }
            @media (max-width:530px) {
                flex-direction: column;
                .clear{
                    width: 100%;
                    margin-top: 10px;
                }
            }
        }
        button {
            padding: 10px;
            border-radius: 10px;
            min-width: 80px;
            border: 1px solid var(--mainColor);
            background-color: inherit;
            color: inherit;
            position: relative;
            z-index: 5;
            transition: 0.3s;
            cursor: pointer;

            &::before {
                @include fill;
                border-radius: 10px;
                z-index: -1;
            }
            &:hover {
                &::before {
                    width: 100%;
                }
                color: #fff;
            }
        }
        @media (max-width: 530px) {
            top: 60%;
            width: 280px;
            .events-fields {
                div {
                    flex-direction: column;
                    h3 {
                        font-size: 15px;
                        text-align: center;
                    }
                    .btns {
                        button:last-child {
                            margin-left: 5px;
                        }
                    }
                }
            }
            button {
                padding: 10px;
                font-size: 11px;
                // width: f/;
                border-radius: 15px;
                &::before {
                    border-radius: 15px;
                }
            }
        }
    }
}
/*! End Events */
